<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Akira</key>
	<dict/>
	<key>age</key>
	<string>25</string>
	<key>gender</key>
	<string>male</string>
	<key>New item - 2</key>
	<string>Ami</string>
	<key>New item - 3</key>
	<string>Iyo</string>
	<key>New item - 4</key>
	<string>kenichiro</string>
	<key>New item - 5</key>
	<string>Seiya</string>
	<key>New item - 6</key>
	<string>Shinpei</string>
	<key>New item - 7</key>
	<string>Migitamachan</string>
</dict>
</plist>
